body {
    font-family: "Arial";
    background-color: #8dc63f;
    margin: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #fff;
    box-sizing: border-box;
}

.header {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p,
.contacts p {
    font-size: 22px;
    color: #39930d;
    margin: 0;
}

.logo img {
    margin: 0 34px;
}

.contacts {
    text-align: right;
}

.logo b {
    font-size: 44px;
}

.logo i,
.contacts i {
    font-size: 14px;
    color: #5a5a5a;
}

.baner img {
    width: 100%;
}

.content {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
    row-gap: 35px;
}

.content h1 {
    font-size: 24px;
    color: #39930d;
}

.content p {
    font-size: 14px;
    line-height: 21px;
    color: #343434;
}

.links {
    max-width: 301px;
    width: 100%;
}

.links p {
    font-size: 18px;
    color: #ffffff;
    background-color: #39930d;
    padding: 12px 20px;
}

.links ul {
    list-style: none;
    text-transform: uppercase;
    padding: 0 20px;
}

.links a {
    font-size: 14px;
    line-height: 30px;
    color: #39930d;
}

.copy {
    font-size: 14px;
    color: #fff;
    background-color: #39930d;
    padding: 14px 15px;
    margin: 0 -15px;
}
